*{
    margin:0px;
    padding:0px;
}
.container{
    border: 1px solid black;
    width: 785px;
    height:460px;
}
.logout{
    margin-left: 400px;
    margin-top: -42px;
    position: absolute;
}
.hello{
    margin-left: 48px;
    font-size: 24px;
}
.trips{
    margin-left: 48px;
    font-size: 20px;
}
.pushme{
    font-size: 16px;
    background: orange;
    width: 80px;
    height: 25px;
    /* padding: 10px; */
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
.button{
    margin-left: 670px;
    margin-top: -38px;
    background-color: orange;
    position: absolute;
    font-size: 16px;
    width: 77px;
}
.log{
    background-color:lightskyblue;
    margin-left: 433px;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    margin-top: -41px;
    position: absolute;
    box-shadow:5px 10px #888888;
}
.createbutton{
    margin-left:250px;
    display:inline-block;
}

.table_one{
    border: 1px solid black;
    margin-top: 32px;
    margin-left: 20px;
    width: 606px;
    height: 218px;
    background-color: lightskyblue;
    padding-left: 15px;

}
.other{
    margin-left: 48px;
    font-size: 20px;
    color:purple;
}

.table_two{
    border: 1px solid black;
    margin-top: 7px;
    margin-left: 20px;
    width: 581px;
    height:100px;
    background-color: lightskyblue;
}
.footer{
    border: 1px solid black;
    width: 784px;
    background-color: lightgray;
    margin-top: 75px;
    height: 45px;

}